data/
build/
.cache/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*-prefix/
.ninja_deps
.ninja_log
*.vim
todo
*.swp
.DS_Store
.AppleDouble
.LSOverride
